

*{
	box-sizing: border-box;
}

[class*="col-"]{
	width: 100%;
	float: left;
	padding: 15px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
    background-color: teal;
}


@media only screen and (min-width: 768px) {
    /* For larger devices */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

/* .About{
    overflow-x: hidden;
} */

.About_words{
    text-align: right;
    line-height: 1.5;
    letter-spacing: 1px;
}

.About_header{
    text-align: right;
    color: #120fbd;
    padding-bottom: 5%;
    padding-top: 20%;
}

.sideImg{
    width: 100%;
    margin-top: -80%;
    overflow: hidden;
    margin-left: -5%;
    
}
.sideImg2{
    width: 60%;
    margin-top: -125%;
    margin-left:35%;
    overflow-x: hidden;
}

.bg{
    /* background-image: url('../Images/Vector (1).png'), url('../Images/Group.png'); */
    /* width: 100%; */
    /* margin-top: -20%; */
    /* background-position-y: 10%;
    background-position: cover; */
}